<h1 mat-dialog-title>CSV hochladen</h1>
<div mat-dialog-content>
  <div *ngIf="uploadState === uploadStateEnum.Initial">
    <p>
      Du kannst hier direkt das aus <b>Nuudel</b> exportierte CSV hochladen.<br>
      Aktuell wird nur Nuudel unterstützt.
    </p>
    <input type="file" #fileInput (change)="onFileSelected(fileInput.files)"/>
  </div>
  <mat-spinner *ngIf="uploadState === uploadStateEnum.Uploading"></mat-spinner>
  <div *ngIf="uploadState === uploadStateEnum.Uploaded">
    <h3>Upload erfolgreich</h3>
    <p>
      Die Daten können jetzt importiert werden. <br>
      Du hast die Möglichkeit im nächsten Schritt zu überprüfen ob das Einlesen geklappt hast.
    </p>
  </div>
  <div mat-dialog-actions style="justify-content: flex-end;">
    <button mat-stroked-button (click)="dialogRef.close()" color="warn">Abbrechen</button>
    <button mat-stroked-button [matDialogClose]="scheduleParameters" color="primary">
      Laden
    </button>
  </div>
</div>
