<div class="container">
  <h2>Season scheduler</h2>
  <div class="button-bar">
    <button (click)="loadData()" mat-stroked-button color="primary"
            [disabled]="appState !== appStateEnum.Initial">
      <mat-icon>upload</mat-icon>
      1. Load doodle data
    </button>
    <button (click)="generateSchedule()" mat-stroked-button color="primary"
            [disabled]="appState !== appStateEnum.Uploaded">
      <mat-icon>auto_fix_high</mat-icon>
      2. Generate schedule
    </button>
    <button (click)="downloadData()" mat-stroked-button color="primary"
            [disabled]="appState !== appStateEnum.Solved">
      <mat-icon>save</mat-icon>
      3. Export
    </button>
  </div>
</div>

<mat-spinner *ngIf="appState === appStateEnum.Solving"></mat-spinner>

<table *ngIf="appState === appStateEnum.Solved">
  <tr>
    <th>Name</th>
    <th *ngFor="let date of dates">{{date}}</th>
    <th>Games</th>
    <th>possible</th>
  </tr>
  <tr *ngFor="let person of people; let personIndex = index">
    <td>{{person}}</td>
    <td *ngFor="let date of dates; let dateIndex = index">
      <span *ngIf="schedule[personIndex][dateIndex] === stateEnum.TeamOne"
            class="team-one"> 1 </span>
      <span *ngIf="schedule[personIndex][dateIndex] === stateEnum.TeamTwo"
            class="team-two"> 2 </span>
      <span *ngIf="schedule[personIndex][dateIndex] === stateEnum.Substitute"> E </span>
      <span *ngIf="schedule[personIndex][dateIndex] === stateEnum.Unplanned"> - </span>
    </td>
    <td>{{playerTotal[personIndex]}}</td>
    <td>{{playerPossible[personIndex]}}</td>
  </tr>
  <!--
  <tr>
    <td><b>Team 1</b></td>
    <td *ngFor="let date of dates;">
      0
    </td>
    <td></td>
  </tr>
  <tr>
    <td><b>Team 2</b></td>
    <td *ngFor="let date of dates;">
      0
    </td>
    <td></td>
  </tr>-->
</table>
