<div class="container">
  <h2>Klubmeisterschaft Saisonplanung</h2>
  <p>
    <small>By <a href="https://www.kleemans.ch">Adrianus Kleemans</a></small>
  </p>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Übersicht Regeln
        </mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <p>Fixe Regeln:</p>
      <ul>
        <li>8 Personen (in 2 Teams) spielen pro Tag</li>
        <li>5 Spiele pro Spieler (in der ganzen Saison) wenn möglich, ansonsten so viel wie möglich</li>
        <li>Keine 2 Spiele pro Person am gleichen Tag</li>
        <li>Skip skill sollte >=3 sein pro Tag</li>
      </ul>

      <p>"Softe" Regeln (darauf wird optimiert):</p>
      <ul>
        <li>Keine Spiele in derselben Woche</li>
        <li>Spiele möglichst gleichmässig über die Saison verteilt</li>
        <li>Spiele möglichst gleichmässig über alle Personen verteilt</li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="button-bar">
    <button (click)="loadData()" mat-stroked-button color="primary"
            [disabled]="appState !== appStateEnum.Initial">
      <mat-icon>upload</mat-icon>
      1. CSV laden
    </button>
    <button (click)="generateSchedule()" mat-stroked-button color="primary"
            [disabled]="appState !== appStateEnum.Uploaded">
      <mat-icon>auto_fix_high</mat-icon>
      2. Lösungssuche
    </button>
    <button (click)="downloadData()" mat-stroked-button color="primary"
            [disabled]="appState !== appStateEnum.Solved">
      <mat-icon>save</mat-icon>
      3. Export
    </button>
  </div>
  <div *ngIf="appState === appStateEnum.Unsolvable">
    Keine Lösung gefunden :(
  </div>

  <div *ngIf="basicVerificationErrors.length > 0" class="basic-verification">
    <b>Achtung</b>:
    <ul>
      <li *ngFor="let error of basicVerificationErrors">{{error}}</li>
    </ul>
  </div>

  <div *ngIf="appState === appStateEnum.Uploaded">
    <h2>Eingelesene CSV-Daten</h2>
    <p><b>{{dates.length}} Daten: </b>
      <span *ngFor="let d of dates">{{d}}, </span>
    </p>

    <p><b>{{players.length}} Personen</b></p>
    <p>
      Neben dem Namen steht jeweils eine Zahl, die den ungefähren "Skip-skill" angibt. Falls schon (anonymisiert)
      erfasst, wird diese voreingefüllt (falls nicht vorhanden mit * markiert) und kann hier noch angepasst werden.
      Legende: 2 = Skippen ja, 1 = Skippen wenn nötig, 0 = Skippen nein.
    </p>
    <ul>
      <li *ngFor="let p of players; let i = index">
        {{p}} <span *ngIf="!skipabilityFromHash[i]" style="color: red;">*</span> /
        <mat-form-field class="skip-form-field dense-2">
          <mat-select [(ngModel)]="skipabilities[i]">
            <mat-option [value]="0">0</mat-option>
            <mat-option [value]="1">1</mat-option>
            <mat-option [value]="2">2</mat-option>
          </mat-select>
        </mat-form-field>
      </li>
    </ul>
  </div>

  <div *ngIf="appState >= appStateEnum.Solving">
    <h2>Lösungssuche</h2>
    <mat-spinner diameter="30" *ngIf="appState === appStateEnum.Solving"></mat-spinner>
    <div *ngIf="schedule.length > 0">
      Lösungen gefunden: {{solutionCount}}
      <ul>
        <li>Score: {{currentScore | number }}</li>
        <li>Zeitpunkt: {{lastSolutionTime | date : 'HH:mm:ss' }}</li>
      </ul>
    </div>
    <button mat-stroked-button (click)="stopSearch()"
            [disabled]="appState !== appStateEnum.Solving">
      Suche stoppen
    </button>
  </div>
</div>

<table *ngIf="appState >= appStateEnum.Solving && schedule.length > 0">
  <tr>
    <th>Name</th>
    <th *ngFor="let date of dates">{{date}}</th>
    <th>Geplante Spiele</th>
    <th>Mögliche Spiele</th>
  </tr>
  <tr *ngFor="let person of players; let personIndex = index">
    <td>{{person}}</td>
    <td *ngFor="let date of dates; let dateIndex = index">
      <span *ngIf="schedule[personIndex][dateIndex] === stateEnum.TeamOne"
            class="team team-one"> 1 </span>
      <span *ngIf="schedule[personIndex][dateIndex] === stateEnum.TeamTwo"
            class="team team-two"> 2 </span>
      <span *ngIf="schedule[personIndex][dateIndex] === stateEnum.Substitute"> E </span>
      <span *ngIf="schedule[personIndex][dateIndex] === stateEnum.Unplanned"> - </span>
    </td>
    <td>{{playerTotal[personIndex]}}</td>
    <td>{{playerPossible[personIndex]}}</td>
  </tr>
</table>
