<div class="container">
  <h2>Season scheduler</h2>
  <div class="button-bar">
    <!-- TODO replace call with loadData() -->
    <button (click)="prepareData()" mat-stroked-button color="primary">
      <mat-icon>upload</mat-icon>
      Load doodle data
    </button>
    <button (click)="generateSchedule()" mat-stroked-button color="primary">
      <mat-icon>auto_fix_high</mat-icon>
      Generate schedule
    </button>
    <button (click)="downloadData()" mat-stroked-button color="primary">
      <mat-icon>save</mat-icon>
      Export
    </button>
  </div>
</div>

<table *ngIf="showTable">
  <tr>
    <th>Name</th>
    <th *ngFor="let date of dates">{{date}}</th>
    <th>Games</th>
  </tr>
  <tr *ngFor="let person of people; let personIndex = index">
    <td>{{person}}</td>
    <td *ngFor="let date of dates; let dateIndex = index">
      <span *ngIf="schedule[personIndex][dateIndex] === stateEnum.TeamOne"
            class="team-one"> 1 </span>
      <span *ngIf="schedule[personIndex][dateIndex] === stateEnum.TeamTwo"
            class="team-two"> 2 </span>
      <span *ngIf="schedule[personIndex][dateIndex] === stateEnum.Substitute"> E </span>
      <span *ngIf="schedule[personIndex][dateIndex] === stateEnum.Unplanned"> - </span>
    </td>
    <td>0</td>
  </tr>
  <tr>
    <td><b>Team 1</b></td>
    <td *ngFor="let date of dates;">
      0
    </td>
    <td></td>
  </tr>
  <tr>
    <td><b>Team 2</b></td>
    <td *ngFor="let date of dates;">
      0
    </td>
    <td></td>
  </tr>
</table>

<!--
<table *ngIf="showTable" mat-table [dataSource]="people">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let element"> {{element}} </td>
  </ng-container>

  <ng-container *ngFor="let col of dates; let colIndex = index" [matColumnDef]="col">
    <th mat-header-cell *matHeaderCellDef>{{col}}</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="getScheduleEntry(element, colIndex) === stateEnum.PlannedOne" class="team-one"> 1 </span>
      <span *ngIf="getScheduleEntry(element, colIndex) === stateEnum.PlannedTwo" class="team-two"> 2 </span>
      <span *ngIf="getScheduleEntry(element, colIndex) === stateEnum.Substitute"> E </span>
      <span *ngIf="getScheduleEntry(element, colIndex) === stateEnum.Unplanned"> - </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
-->

